$ranking-dot-color: #ffffff;
$ranking-dot-lit-color: #483e5a;
$arrow-color: #f1998e;
$profile-pic-size: 7vh;
$bg-color: #d7756e;
$arrow-lit-color: #ffffff;
$prop: all;
$duration: 0.25s;
$easing: ease-in-out;
