.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.action-bar-dots {
  display: flex;
  flex-direction: column;
}


.action-bar{

}

.action-bar-container {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
