.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;

}


.action-bar {

}

.action-bar:hover .arrow-container {
  transform: rotate3d(1,0,0,0);
}

.action-bar-container {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
