.arrow-unlit:hover {
  fill: #f7f5fb;
  cursor: pointer;
}

.arrow-unlit {
  fill: $arrow-color;
}

polygon {
  transition: all 0.1s ease-in-out;
}

.arrow-lit {
  fill: $arrow-lit-color;
}


.arrow-container {
  transform: rotate3d(1,0,0,90deg);
  @include transition($prop, $duration, $easing);
}
