.nav-bar {
  height: 8vh;
  width: 100vw;
  position: fixed;
  display: flex;
  background: white;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0px 1px 5px 0px #921f6c;
  z-index: 99;
}

.nav-bar-search-bar-container {
  width: 100%;
  .nav-bar-search-bar {
    outline: none;
    border-radius: 4px;
    width: 50%;
    padding: 0.5em;
    font-size: 1em;
    font-weight: 100;
    color: #e99595;
    border: 1px solid #e7e2e2;
  }
}

.nav-bar-items {
  height: 50%;
  width: 20%;
  display: flex;
  justify-content: space-around;
}

.nav-upload {
  height: 80%;
  cursor: pointer;
}

.nav-profile {
  height: 80%;
  cursor: pointer;
}

.nav-bar-header {
  height: 70%;
  display: flex;
}

.logo {
height: 100%;
}

.title {
  height: 100%;
  display: flex;
  font-size: 1em;
  font-weight: 100;
  align-items: flex-end;
  color: #56566d;
  margin-left: 2%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
