/* cormorant-300 - latin */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/cormorant-v3-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Cormorant Light'), local('Cormorant-Light'),
       url('../fonts/cormorant-v3-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cormorant-v3-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cormorant-v3-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cormorant-v3-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cormorant-v3-latin-300.svg#Cormorant') format('svg'); /* Legacy iOS */
}
/* cormorant-regular - latin */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cormorant-v3-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Cormorant Regular'), local('Cormorant-Regular'),
       url('../fonts/cormorant-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cormorant-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cormorant-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cormorant-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cormorant-v3-latin-regular.svg#Cormorant') format('svg'); /* Legacy iOS */
}
/* cormorant-300italic - latin */
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/cormorant-v3-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Cormorant Light Italic'), local('Cormorant-LightItalic'),
       url('../fonts/cormorant-v3-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cormorant-v3-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cormorant-v3-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cormorant-v3-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cormorant-v3-latin-300italic.svg#Cormorant') format('svg'); /* Legacy iOS */
}
/* cormorant-500 - latin */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/cormorant-v3-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Cormorant Medium'), local('Cormorant-Medium'),
       url('../fonts/cormorant-v3-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cormorant-v3-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cormorant-v3-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cormorant-v3-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cormorant-v3-latin-500.svg#Cormorant') format('svg'); /* Legacy iOS */
}
/* cormorant-500italic - latin */
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/cormorant-v3-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Cormorant Medium Italic'), local('Cormorant-MediumItalic'),
       url('../fonts/cormorant-v3-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cormorant-v3-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cormorant-v3-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cormorant-v3-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cormorant-v3-latin-500italic.svg#Cormorant') format('svg'); /* Legacy iOS */
}
/* cormorant-600 - latin */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/cormorant-v3-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Cormorant SemiBold'), local('Cormorant-SemiBold'),
       url('../fonts/cormorant-v3-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cormorant-v3-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cormorant-v3-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cormorant-v3-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cormorant-v3-latin-600.svg#Cormorant') format('svg'); /* Legacy iOS */
}
/* cormorant-700 - latin */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/cormorant-v3-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Cormorant Bold'), local('Cormorant-Bold'),
       url('../fonts/cormorant-v3-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cormorant-v3-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cormorant-v3-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cormorant-v3-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cormorant-v3-latin-700.svg#Cormorant') format('svg'); /* Legacy iOS */
}
/* cormorant-600italic - latin */
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/cormorant-v3-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Cormorant SemiBold Italic'), local('Cormorant-SemiBoldItalic'),
       url('../fonts/cormorant-v3-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cormorant-v3-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cormorant-v3-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cormorant-v3-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cormorant-v3-latin-600italic.svg#Cormorant') format('svg'); /* Legacy iOS */
}
/* cormorant-italic - latin */
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/cormorant-v3-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Cormorant Italic'), local('Cormorant-Italic'),
       url('../fonts/cormorant-v3-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cormorant-v3-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cormorant-v3-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cormorant-v3-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cormorant-v3-latin-italic.svg#Cormorant') format('svg'); /* Legacy iOS */
}
/* cormorant-700italic - latin */
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/cormorant-v3-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Cormorant Bold Italic'), local('Cormorant-BoldItalic'),
       url('../fonts/cormorant-v3-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cormorant-v3-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cormorant-v3-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cormorant-v3-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cormorant-v3-latin-700italic.svg#Cormorant') format('svg'); /* Legacy iOS */
}
