.Artwork {
  position: relative;
  display: block;
  width: 55vw;
}

.MainPicture {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: -10px 10px 20px #888888;
}
