#pomaPic{
  width: 6vh;
  top: 1.3vh;
  left: 2vh;
}
#profilePic{
  width: 3vh;
  position: absolute;
  top: 2vh;
  right: 3vh;
}
#uploadPic{
  width: 2.5vh;
  position: absolute;
  top: 2.19vh;
  right: 6vh;
}
li {
  display:inline-block;
}
